{% extends 'base.html.twig' %}

{% block title %}La Z O N E{% endblock %}

{% block body %}
    <style>
        body{
            background-image: url({{ asset('img/fate.png') }});
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>

    <div class="vertical-center"> <!--
                      ^--- Added class  -->
        <div class="container">
            <div id="zoni" class="card my-auto text-center">
                <h1> Bienvenue dans la <b> Zone en personne </b> #colisamazon #yapasdestage #crackitobientotdanslesbacks</h1>
            </div>
        </div>
{% endblock %}
